streamlit
spacy
pdfplumber
python-docx
fpdf
openai
indic-transliteration
nltk
sentence-transformers
reportlab
matplotlib
PyPDF2
streamlit
pandas
numpy
matplotlib
scikit-learn

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl





